.change-color-by-id {
    background-color: rgb(56, 2, 50);
    color: rgb(255, 255, 255);
}

.change-color-by-selector {
    background-color: rgb(121, 0, 0);
    color: rgb(255, 255, 255);
}

.added-img {
    width: 1080px;
}
  
.deletable-img, .undeletable-img {
    width: 1080px;
    overflow: hidden;
}
